.card1 {
  width: 160px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 9%);
}

.logo {
  padding: 15px;
}

.card1 p {
  color: #616161;
  font-weight: 300;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 20px;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 0px;
}
.card1 p:hover {
  text-decoration: underline;
}

.card1 span {
  color: #616161;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardbody span {
  margin-top: 10px;
}
