.card-width {
  width: 330px !important;
  box-shadow: 0 7px 8px rgb(0 0 0 / 9%);
}
.card-width img {
  width: 150px;
}
.card-width .g-drive h6 {
  line-height: 1rem;
}
.card-width .g-drive p {
  width: 150px;
  line-height: 18px;
}

.round-check {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
