.card-width {
  width: 350px !important;
  box-shadow: 0 7px 8px rgb(0 0 0 / 9%);
}
.card-width img {
  width: 150px;
}
.card-width .g-drive h6 {
  line-height: 1rem;
}
.card-width .g-drive p {
  width: 150px;

  line-height: 18px;
  /* max-height: 54px;
  overflow: hidden;
  position: relative;
  word-break: break-word; */
}

.round-check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
}
