
body{
    margin: 0px;
    padding: 0px;
    background: rgba(243, 243, 243, 0.534);
    
    
}

.logo{
    width: 175px;
  height: auto;
  /* font-size: 25px; */
}

.input-box{
  width: 560px;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-right: none;
}

.input{
  width: 80%;
  outline: none;
}

.input::placeholder{
  font-size: 15px;
}

.search-btn{
  border: 1px solid #4487fb;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #4487fb;
}